# Life Expectancy
---

### Analysis

In [4]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
gdp_data = Path("Resources/gdp_1960_2020.csv")
lifeexp_data = Path("Resources/Life expectancy.csv")

# Read GDP and Life Expectancy File into Pandas DataFrames
gdp = pd.read_csv(gdp_data)
lifeexp = pd.read_csv(lifeexp_data)
gdp.head()

   year  rank            country    state           gdp  gdp_percent
0  1960     1  the United States  America  543300000000     0.468483
1  1960     2     United Kingdom   Europe   73233967692     0.063149
2  1960     3             France   Europe   62225478000     0.053656
3  1960     4              China     Asia   59716467625     0.051493
4  1960     5              Japan     Asia   44307342950     0.038206

In [9]:
# Countries that have the maximum life expectancy

In [ ]:
# Countries that have the minimum life expecatancy

In [ ]:
# List of countries with the life expectancies from the 1960s to 2020s

In [ ]:
# Calculate the value life expectancy in the 1960s for males

In [ ]:
# Calculate the value life expectancy in the 2020s for

In [ ]:
# Calculate the difference between the life expectancy in